body {
  background-color: #282828;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media (orientation: portrait) {
  #root {
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }
}

@media (orientation: landscape) {
  #root {
    width: 40%;
    height: 100%;
    margin: 0 auto;
  }
}

h1 {
  color: #fabd2f;
  text-align: center;
}
